@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=LXGW+WenKai+TC&display=swap');
/*全域樣式初始化*/
    *{
        box-sizing: border-box;
        --light-color:#ecc692;
        --dark-color:#533f35
    }
    body{
        background: var(--dark-color);
        color: var(--light-color);
    }
    h1,h2,h3,h4,h5,h6,p,span{
        margin: 0;
        padding: 0;
    }
    header{
        text-align: center;
        margin: 1rem 0;
        h1{
            font-family: Chiron GoRound TC;
        }
        p{
            font-family: LXGW WenKai TC;
        }
    }
    nav{
       display: flex;
       flex-direction: row;
       justify-content: center; 
       gap:1rem;
    button{
        background: transparent;
        color: var(--light-color);
        border: 1px solid var(--light-color);
        border-radius: 10px 10px 0 0;
        border-bottom: none;
        padding:0.5rem;
        cursor: pointer;
        &:hover{
                background: var(--light-color);
                color: var(--dark-color);
                border-radius: 10px 10px 0 0;
            }
            &.active {
            background: var(--light-color);
            color: var(--dark-color);
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid transparent;
            pointer-events: none; /* 選擇性加入：讓已經被點選的按鈕暫時無法再點擊 */
            }
    }
    
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: 10px;
        padding:1rem;
        &#content {
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .switchBtn{
            border-radius: 3em;
            color: var(--light-color);
            background: var(--dark-color);
            padding: 1em;
            border: none;
            margin-bottom: 1em;
            transition:0.5s;
            width: 20em;
            align-self: center;
            cursor: pointer;
                &:hover{
                  transform: translateY(-0.5em);  
                  box-shadow: 0 0.5em 0.5px #000;
                }
            }
        }
    }

